<body style="background: url(https://cdn.pixabay.com/photo/2017/06/30/08/56/color-2457617_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">

<% @emotions.each do |emotion| %>
  <h1><%= emotion.name %></h1><br>
  <p><a href="/emotions/<%= emotion.slug %>">More Info</a></p>
<% end %>