<h3>Welcome, <%= current_user.username %>!</h3>

<% if !@emotions.empty? %>
  
  Your Emotions:
  <ul>
  <% @emotions.each do |emotion| %>
    <div>
      <li><h4><%= emotion.name %></h4></li>
    </div>
  <% end %>
  </ul>
  
  <form method="GET" action="/memories">
  <input type="submit" value="Back to Memories" />
  </form> <br>
  
<% else %>
  
  <h2><%= current_user.username %>, you haven't made any Emotions yet</h2>
  <form method="GET" action="/memories">
  <input type="submit" value="Back to your Memories Page" />
  </form>
  
  <% end %>