<body style="background: url(https://cdn.pixabay.com/photo/2016/06/01/11/54/background-1428868_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">

<% @emotions.each do |emotion| %>
  <li><h3>"<%= emotion.name %>" <a href="/emotions/<%= emotion.slug %>">More Info</a></h3></li><br>
<% end %>