<body style="background: url(https://cdn.pixabay.com/photo/2016/06/01/11/54/background-1428868_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: TheDigitalArtist from Pixabay.com ––>

<h1>Memory Emotions:</h1>
<% @emotions.each do |emotion| %>
  <h3>"<%= emotion.name.capitalize %>" <a href="/emotions/<%= emotion.slug %>">View Memories</a></h3><br>
<% end %>

<form method="GET" action="/memories">
  <input type="submit" value="Memories Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>