<body style="background: url(https://cdn.pixabay.com/photo/2016/06/01/11/54/background-1428868_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">

<h1><%= @emotion.name %> Memories:</h2><br>
  <% @emotion.memories.each do |memory| %>
    <li><a href="/memories/<%= memory.slug %>"><%= memory.title %></a></li><br>
  <% end %>
  
<form method="GET" action="/emotions">
  <input type="submit" value="Your Emotions Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>