<body style="background: url(https://cdn.pixabay.com/photo/2015/11/29/16/50/fractal-1068985_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">

<h1>Memories:</h2>
  <% @emotion.each do |memory| %>
    <li><a href="/memories/<%= memory.slug %>"><%= memory.title %></a></li><br>
  <% end %>