<h1>Sign Up</h1>

<% unless locals.empty? %>
  <%= message %>
<% end %>
<a href="/login"> Log In </a><br><br>

<form action="/signup" method="POST">
 <h3>Username: <input type="text" name="username"></h3><br>
  <h3>Email: <input type="text" name="email"></h3><br>
  <h3>Password: <input type="password" name="password"></h3><br>
  <input class="btn btn-primary" type="submit">
</form>