<h1>Please Log in below:</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form><br>

<form method="GET" action="/signup">
  <input type="submit" value="Create a New User" />
</form>