<body style="background: url(https://i.postimg.cc/mDmK5rQ8/Dumbledore-s-Office.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1>Please Log in below:</h1><br>

<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:" autocomplete="off">
  <input type="password" name="password" placeholder="Password:" autocomplete="off">
  <input type="submit" value="submit">
</form><br>

<form method="GET" action="/signup">
  <input type="submit" value="Create a New User" />
</form>