<body style="background: url(https://i.postimg.cc/ZKbhH1pf/Hogwarts-at-Dusk.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1>Edit Person/Pet</h1>

<form method="post" action="/players/<%= @player.slug %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <h3>Name of Person/Pet: <input type="text" name="name" autocomplete="off" 
  required="required" style="text-transform:capitalize" value="<%= @player.name.split.map(&:capitalize).join(' ') %>"></h3>
  <br>
  <input type="submit" value="Save Person/Pet">
</form><br>

<form method="GET" action="/players">
  <input type="submit" value="People/Pets Page">
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page">
</form>