<body style="background: url(https://i.postimg.cc/ZKbhH1pf/Hogwarts-at-Dusk.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1>People/Pets from Memories:</h1><br>
<% @players.each do |player| %>
  <h3>"<%= player.name %>" <a href="/players/<%= player.slug %>"> View Memories</a></h3><br>
<% end %>

<form method="GET" action="/memories">
  <input type="submit" value="Memories Page">
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page">
</form>