<body style="background: url(https://img.wallpapersafari.com/desktop/1366/768/25/0/DV1YEw.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1>People from Memories:</h1><br>
<% @players.each do |player| %>
  <h3>"<%= player.name.capitalize %>" <a href="/players/<%= player.slug %>">More Info</a></h3><br>
<% end %>

<form method="GET" action="/memories">
  <input type="submit" value="Memories Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>