<body style="background: url(https://cdn.wallpapersafari.com/45/68/c3HdKp.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: Activedia from Pixabay.com ––>

<h1>People from Memories:</h1><br>
<% @players.each do |player| %>
  <h3>"<%= player.name %>" <a href="/players/<%= player.slug %>">More Info</a></h3><br>
<% end %>

<form method="GET" action="/memories">
  <input type="submit" value="Your Memories Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>