<body style="background: url(https://wallpaperaccess.com/full/22921.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">

<h1>Memories with <%= @player.name %>:</h1><br>
  <% @player.memories.each do |memory| %>
    <li><a href="/memories/<%= memory.slug %>"><%= memory.title %></a></li><br>
  <% end %>
  
  <form method="GET" action="/players">
  <input type="submit" value="Your People Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>