<h1> @player.name</h1>
<ul>
  <% @player.memory_emotions.each do |memory| %>
    <li><a href="/memories/<%= memory.id %>"><%= memory.title %> </a></li>
  <% end %>
</ul>

<ul>
  <% @player.memory_players.each do |player| %>
    <li><a href="/players/<%= player.id %>"><%= player.name %> </a></li>
  <% end %>
</ul>