<body style="background: url(https://cdn.pixabay.com/photo/2017/06/17/18/29/candles-2413063_960_720.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">

<h1>Player Memories:</h1>
  <% @player.each do |memory| %>
    <li><a href="/memories/<%= memory.slug %>"><%= memory.title %></a></li><br>
  <% end %>