<body style="background: url(https://cdn.pixabay.com/photo/2016/10/29/01/25/abstract-1779569_960_720.png) center no-repeat;
    background-size: cover;background-attachment: fixed;">

<h1>Memories:</h1>
  <% @player.each do |memory| %>
    <li><a href="/memories/<%= memory.slug %>"><%= memory.title %></a></li><br>
  <% end %>