<body style="background: url(https://img.wallpapersafari.com/desktop/1366/768/25/0/DV1YEw.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1>Memories with <%= @player.name %>:</h1><br>
  <% @player.memories.each do |memory| %>
    <li><a href="/memories/<%= memory.slug %>"><%= memory.title %></a></li><br>
  <% end %>
  
<form method="post" action="/players/<%= @player.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Person">
</form> <br>
  
<form method="GET" action="/players">
  <input type="submit" value="People Page" />
</form> <br>

<form method="GET" action="/">
  <input type="submit" value="Home Page" />
</form>