<h2>Add a Memory</h2>
<form action="/memories" method="POST">
  <label for="memory"></label>
  <p><textarea rows="3" cols="50" name="memory" id="memory"></textarea></p>
  <input type="submit" value="Bottle Your Memory" />
</form>