<h2>Add a New Memory</h2>
<form action="/memories" method="POST">
  <p>Name of Memory: <input type="text" name="name"></p>
  <p>Content: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="Add a New Memory">
</form>