<h1>Add a New Memory</h1>

<form action="/memories" method="POST">
  <label>Title</label>
  <input type="text" name="title"> </br>

  <label>New Memory</label>
  <input type="text" name="content"> </br>

  <label>Currently Available Emotions:</label>
  <ul>
  <% Emotion.all.each do |emotion| %>
    <li><input id="<%= emotion.name %>" type="checkbox" name="emotions[]" value="<%= emotion.id %>"></li>
  <% end %>
  </ul>
  <label>New Emotion</label>
  <input type="text" name="emotion_name"> </br>

  <input type="submit" value="Create Memory">
</form>