<h2>Add a Memory</h2>
<form action="/memories" method="POST">
  <p>Memory: <input type="text" name="content"></p>

<h3>Existing Emotions</h3>
  <% @emotions.each do |emotion| %>
    <input type="checkbox" name="memory[emotion_ids][]" id="<%= emotion.id %>" value="<%= emotion.id %>"><%= emotion.feeling %></input><br>
  <% end %>
  <br>
 
  <h3>Add a Emotion</h3>
  <br>
  <p>New Emotion: <input type="text" name="feeling" id="feeling"></input>
  <br>
  <input class="btn btn-primary" type="submit" value="Bottle Memory">
  </form>