<h2>Add a Memory</h2>
<form action="/memories" method="POST">
  <p>Memory: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="Bottle Memory">
</form>

<h3>Existing Emotions</h3>
  <% @emotions.each do |emotion| %>
    <input type="checkbox" name="memory[emotion_ids][]" id="<%= emotion.id %>" value="<%= emotion.id %>"><%= emotion.name %></input><br>
  <% end %>
  <br>
 
  <h3>New Emotion</h3>
  <label>Emotion Name: </label>
  <br>
  <input type="text" name="emotion[name]" id="emotion_name"></input>
  <br><br>