<h2>Edit Memory: </h2>

<form method="post" action="/memories/<%=@memory.slug%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @memory.name %>">
  <input type="text" name="content" value="<%= @memory.content %>">
  <input type="submit" value="Edit Memory">
</form>