<h2>Edit Memory: </h2>

<form method="post" action="/memories/<%=@memory.slug%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Memory Name: <p><input type="text" name="name" value="<%= @memory.name %>"></p>
  <p><textarea name="content" cols="50" rows="10"><%= @memory.content %></textarea></p>
  <ul>
  <% @memory.emotions.each do |emotion| %>
    <li><%= emotion.name %></li>
  <% end %>
  </ul>
 <label>Add New Emotion:</label>
 <input type="text" id="new_emotion" name="emotion[name]"><br></br>
 
  <input type="submit" value="Edit Memory">
</form>