<% if !@memories.empty? %>
  <h1>Your Memories:</h1><br>
  
  <% @memories.each do |memory| %>
    <p><%= memory.title %>" <a href="/memories/<%= memory.slug %>"> Contents of Memory:</a></p>
  <% end %>
  
  <form method="GET" action="/memories/new">
  <input type="submit" value="Create a New Memory" />
  </form> <br>
  
<% else %>
  
  <h2><%= current_user.username %>, you haven't made any Memories yet</h2>
  <form method="GET" action="/memories/new">
  <input type="submit" value="Create a New Memory" />
  </form>
  
  <% end %>