<% if !@memories.empty? %>
  <h2>~ <%= current_user.name.capitalize%>'s Memories ~</h2><br>
  
  <% @memories.each do |memory| %>
  <h1><%= memory.name %></h1>
  <p><a href="/memories/<%= memory.slug %>">More Info</a></p>
  <% end %>
  
<% else %>
  
  <h2><%= current_user.name.capitalize %>, you haven't made any Memories yet</h2>
  <form method="GET" action="/memories/new">
  <input type="submit" value="Add a Memory" />
  </form>
  
<% end %>