<h2>~ <%= current_user.username.capitalize %>'s Memories ~</h2>

<% if !@memories.empty? %>
  <ul>
  <% @memories.each do |memory| %>
    <div>
      <li><h3>"<%= memory.title %>" <a href="/memories/<%= memory.id %>"> memory details:</a></h3></li>
    </div>
  <% end %>
  </ul><br>
  
  <form method="GET" action="/memories/new">
  <input type="submit" value="Add a Memory" />
  </form> <br>
  
  <form method="GET" action="/">
  <input type="submit" value="Home Page" />
  </form>
  
<% else %>
  
  <h2><%= current_user.username.capitalize %>, you haven't made any Memories yet</h2>
  <form method="GET" action="/memories/new">
  <input type="submit" value="Add a Memory" />
  </form>
  
  <% end %>