<% if !@memories.empty? %>
  <h2>~ Your Memories ~</h2><br>
  
  <% @memories.each do |memory| %>
    <h3>'<%= memory.title %>' <a href="/memories/<%= memory.id %>"> I remember...</a></h3>
  <% end %>
  
  <form method="GET" action="/memories/new">
  <input type="submit" value="Bottle Memory" />
  </form> <br>
  
<% else %>
  
  <h2><%= current_user.username %>, you haven't made any Memories yet</h2>
  <form method="GET" action="/memories/new">
  <input type="submit" value="Bottle Memory" />
  </form>
  
  <% end %>