<h3>Welcome, <%= current_user.username %>!</h3>

<% if !@memories.empty? %>
  
  Your Memories:
  <ul>
  <% @memories.each do |memory| %>
    <div>
      <li><h4><%= memory.content %></h4></li>
    </div>
  <% end %>
  </ul>
  
  <form method="GET" action="/memories/new">
  <input type="submit" value="Add a New Memory" />
  </form> <br>
  
<% else %>
  
  <h2><%= current_user.username %>, you haven't added any Memories yet</h2>
  <form method="GET" action="/memories/new">
  <input type="submit" value="Add a New Memory" />
  </form>
  
<% end %>