<% if !@memories.empty? %>
  <h2>~ Your Memories ~</h2><br>
  
  <% @memories.each do |memory| %>
  <ul>
    <li><h3>"<%= memory.title %>" <a href="/memories/<%= memory.slug %>"> Memory info:</a></h3></li>
  <% end %>
  </ul>
  <form method="GET" action="/memories/new">
  <input type="submit" value="Add a New Memory" />
  </form> <br>
  
<% else %>
  
  <h2><%= current_user.name %>, you haven't made any Memories yet</h2>
  <form method="GET" action="/memories/new">
  <input type="submit" value="Add a New Memory" />
  </form>
  
  <% end %>