<h2>Add Memory</h2>
<form action="/memories" method="POST">
  <p>Title of Memory: <input type="text" name="title"></p>
  <p>Content: <input type="text" name="content"></p>
  <p>Emotion: <input type="text" name="emotion"></p>
  <p>Player: <input type="text" name="player"></p>
  <input class="btn btn-primary" type="submit" value="Bottle Memory">
</form>