<h2>Add a Memory</h2>
<form action="/memories" method="POST">
  <p><input type="text" name="name" placeholder="Name of Memory:"></p>
  <p><textarea type="text" name="content" placeholder="Write down your memory here:" cols="50" rows="10"></textarea></p>
  <input class="btn btn-primary" type="submit" value="Bottle Memory">
</form>