<h1>Add a Memory</h1>

<form action="/memories" method="POST">
  <p><label>Name: </label><input type="text" name="name"></p>
  <p><label>Content: </label><input type="text" name="content"></p>
  <label>Choose an Emotion:</label>
  <br/>
  <ul>
  <% @emotions.each do |emotion| %>
    <li><h5><input type="checkbox" name="emotions[]" id="<%= emotion.name %>" value="<%= emotion.id %>"> <%= emotion.name %></input></h5></li>
  <% end %>
  </ul>
  <br/>
  <input type="submit" value="Bottle Memory">
</form>

