<h2>Name of Memory:</h2>
<h3>"<%= @memory.name %>"</h3>
<h3>'<%= @memory.content %>'</h3>


<ul>
  <label><h3>Emotions:</h3></label>
<% @memory.emotions.each do |emotion| %>
  <li><h4><a href="/emotions/<%= emotion.slug %>"><%= emotion.name %></a></h4></li>
<% end %>
</ul><br>

<form method="GET" action="/memories">
  <input type="submit" value="Your Memories Page" />
</form>