<h1>"<%= @memory.name %>"</h1>
<h1><%= @memory.content %></h1>

<h3>Emotions:</h3>
<ul>
<% @memory.emotions.each do |emotion| %>
  <li><a href="/emotions/<%= emotion.slug %>"><%= emotion.name %></a></li>
<% end %>
</ul>