<body style="background: url(https://cdn.wallpapersafari.com/13/34/haYT68.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<nav>
  <% if logged_in? %>
    <h1>Welcome, <%=current_user.username.capitalize %>!</h1><br>
    <a href="/memories/new"> Add Memory </a> |
    <a href="/memories"> Memories Page </a> |
    <a href="/emotions"> Emotions Page </a> |
    <a href="/players"> People Page </a> |
    <a href="/logout"> Log Out </a>
    

  <% else %>
    <h1>Please Sign in or Sign up below:</h1><br>
    <a href="/signup">Create User</a> |
    <a href="/login"> Sign In </a>
  <%end %>

</nav>