<body style="background: url(https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: Artem Maltsev from unsplash.com ––>

<nav>
  <% if logged_in? %>
    <h1>Welcome, <%=current_user.username.capitalize %>!</h1><br>
    <a href="/memories/new"> Add Memory </a> |
    <a href="/memories"> Your Memories Page </a> |
    <a href="/logout"> Log Out </a>
    

  <% else %>
    <h1>Please Sign in or Sign up below:</h1><br>
    <a href="/signup">Create User</a> |
    <a href="/login"> Sign In </a>
  <%end %>

</nav>